<div class="header">
	<a tabindex="-1" href="#" onclick="addWidget()" class="btn" id="adder">Add example widget</a>
    <a tabindex="-1" href="#" id="fullscreen" class="noie btn">Go Fullscreen</a>
</div>

  <div class="gridster" style="width: 1240px;">
      <ul style="height: 480px; position: relative; ">
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="2" class="gs_w">
        	<div id="spline"></div>
			<span class="icon-trash bottomcorner"></span>
        </li>
		<li data-row="1" data-col="5" data-sizex="2" data-sizey="2" class="gs_w" >
			<div id="piechart"></div>
			<span class="icon-trash bottomcorner"></span>
		</li>
        <li data-row="3" data-col="1" data-sizex="2" data-sizey="1" class="gs_w" style="text-align: center" id="widget-text">
        	<h3 class="title">CallSource Executive Dashboard</h3>
			<p class="more-info">This is your shiny new dashboard</p>
			<p class="updated-at">Protip: You can drag the widgets around!</p>
			<span class="icon-trash bottomcorner"></span>
        </li>
        <li data-row="3" data-col="3" data-sizex="1" data-sizey="1" class="gs_w" id="server_load">
        	<h3 class="title" >Server load</h3> 
        	<input type="text" class="dial" data-min="0" data-max="100" value="50" data-width="100" data-angleArc=250 data-angleOffset=-125 data-readOnly=true>
        	<span class="icon-trash icon-white bottomcorner"></span>
        </li>
      </ul>
    </div>

