  .cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #000;
  }
  .desc { margin: 0px 3px 0px 20px; }
  .desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
  }
  .counter{
  	padding-left:20px;
  }
